/* styles/6-filters.css */
.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.locations, .amenities {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.locations .popover, .amenities .popover {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FAFAFA;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.locations:hover .popover, .amenities:hover .popover {
    display: block;
}

.locations h2 {
    font-size: 16px;
    margin: 0;
}
